@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(158, 42%, 59%);
  
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    margin: 60px 30px;
    height: 800px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
    
}

.card {
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.perfume-img {
    display: block;
    width: 300px;
    height: 400px;
}

.left-side {
    display: flex;
    margin: 0;
    
}

.container {
    display: block;
    width: 300px;
}

.right-side {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0 20px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0;

}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin: 0;
  
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.price {
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: 'Fraunces', serif;
    color: green;
    margin-bottom: 20px;
}

.discounted-price {
    font-size: 26px;
}

.original-price {
    text-decoration: line-through;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: black;
}